!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'Mon Petit Taille 3', name: 'description'}
    %meta{content: 'rhannequin', name: 'author'}

    %title= t :'layouts.application_name'

    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'

    :javascript
      // Get current locale from server
      var APP = window.APP = {}
      APP.locale = '#{I18n.locale}'

    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    = favicon_link_tag 'favicon.png'

  %body

    .container
      = render 'layouts/header'
      = render 'layouts/alerts'

      = yield
